a:link {color:red;
      
}
a:visited {color:PURPLE;
   
}
a:hover{color:yellow;}
.a2  {background:violet;}
.a1  {background:violet;}
.a3  {background:violet;}
.a4  {background:violet;}
span {
	  
	  position:absolute;
	  top:280px;
	  left:170px;
	  opacity:1;
	  font-family:Arial Unicode MS;
	 } 
.ind {background-color:pink;
	font-size:30px;
	height:50px;
	border-style:groove;
	
	margin=0;} 
	 



	 
#tex  { color:purple;
        text:400;
		top:150px;
        left:100px;
        background-color:pink;
	    font-size	:30px;
	height:50px;
	border-style:groove;
	
	margin:0;
	 position:absolute;
        background-color:#D0D0D0;
	    width:500px;
		height:300px;
		padding:20px;
		opacity:0.9;
		font-size:40px;
		outline-style:groove;
		font-family:Arial Unicode MS;
		
		}

.titl  {color:#000099;
	    text-align:center;
		background-color:red;
		position:absolute;
		left:450px;
		width:400px;
		height:40px;
		}
.pic1  {position:relative;
        left:550px;`
} 
.cred { position:relative;
         left:280px;
         top:100px;
		 font-size:30px;
		 
		 color:WHITE;
       } 
.bak  {background-image:url(back.jpg);
}
.hob  {color:white;
       position:absolute;
       top:100px;
       
       font-size:30px;
	   }
.co  {color:#00FF66	;
      position:absolute;
      font-size:30px;
	  top:100px;
	  left:550px;
	  } 
.fb  {position:absolute;
      width:100;
	  height:100;
	  left:300;
	  top:400;}
.ln  {position:absolute;
      width:100;
	  height:100;
	  left:500;
	  top:400;}
.quora{position:absolute;
      width:300;
	  height:100;
	  left:700;
	  top:400;
	  }
.wp  {
	  position:absolute;
      width:100;
	  height:100;
	  left:450;
      top:200;  
	  }
.w   {background-color:#8FDEF7	;
      position:absolute;	  
	  color:white;	
      left:600;
      top:210;	  
	  
	  	  
      	  
  